
 body{
    background-color: rgb(255, 0, 0);
    margin: 15;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
     font-family: "Rampart One", sans-serif;
     font-weight: 700;
     font-style: normal;
      
      
      
    text-align: center;
    color: rgb(238, 255, 2);
    font-size: 90px;
    background-color: rgba(248, 0, 0, 0.445);
}

h2{
    color: rgb(255, 255, 255);
    font-size: 39px;
}

h3{
    color: darkred;
    font-size: 45px;
    font-family:cursive;
}

span{
    color: rgb(0, 0, 0);
    font-size: 30px;
    
}
main{
    background-color: rgb(19, 23, 250);
    color: rgb(143, 245, 10);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 30px;
}

.image-contaneir {
    display: flex;
}

.image-contaneir img{
    width: 80%;
}

article{
    padding: 30px;
    box-shadow: 10px 20px 30px rgb(0, 0, 0);
}