
 body{
    margin: 15;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: chocolate;
    font-size: 80px;
}

main{
    color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 18;
}

.image-contaneir {
    display: flex;
}

.image-contaneir img{
    width: 90%;
}

article{
    padding: 30px;
    box-shadow: 1px 0px 5px #420;
}